.content-view-container {
    height: 150px;
    margin-bottom: 2rem;
    outline-color: red;
    outline-style: solid;
    background-color: lightcoral;
    overflow-x: hidden;
}

.content-wrapper {
    height: 100%;
    position: relative;
}

.content-item {
    width: 98px;
    height: 100%;
    background-color: lightcyan;
    margin-right: 2px;
    float: left;
    user-select: none;
}

.slider-track {
    height: 1.5rem;
    margin-bottom: 2rem;
    outline-color: red;
    outline-style: solid;
    background-color: lightcoral;
}

.slider {
    height: 100%;
    position: relative;
    background-color: white;
    user-select: none;
}